<div class="datagrid">
    <div class="actionbar">
        <div class="row-selector">
            <span class="select-all">
                <input #selectAllChkbox type="checkbox" (click)="selectAll($event.target)"/>
            </span>
            <ng-container *ngIf="selectedRows.length > 0; else noneSelected">
                <span class="all-selected">Selected {{ selectedRows.length }}</span>
            </ng-container>
            <ng-template #noneSelected>
                <span>None Selected</span>
            </ng-template>
        </div>
        <div>
            <button class="download" (click)="download()">
                <span>Download Selected</span>
            </button>
        </div>
    </div>
    <div class="dg-body">
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" *ngFor="let column of columns">{{ column }}</th>
                </tr>
            </thead>
            <tbody #gridBody>
                <tr *ngFor="let item of data; let i = index">
                    <td>
                        <input type="checkbox"/>
                    </td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.device }}</td>
                    <td>{{ item.path }}</td>
                    <td>{{ item.status }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="dg-footer">
        <!-- can be used to implement grid page -->
    </div>
</div>
